Name : Pranay Bachu
Student ID: 002570738

. Write a function that finds the factorial of a number. Test the function finding the
factorial of the number 10.

In [25]:
def my_factorial(number):
    f=1
    for i in range(1, num+1):
        f=f*i
    return f  
num=int(input("Enter number "))
output=my_factorial(num)
print(output)

Enter number 100
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

Name : Pranay Bachu, Student ID :002570738 , 
Write a function that determines if a number is a prime number. Test the function with
the following numbers: 3 and 1251.

In [37]:
def primeNumber_test(num):
    if (num==1):
        return False
    elif (num==2):
        return True;
    else:
        for x in range(2,num):
            if(num % x==0):
                return False
        return True             
print(primeNumber_test(3))
print(primeNumber_test(1251))

True
False

Name : Pranay Bachu, Student Id: 002570738, 
Write a function that transposes a matrix. Test with a 3 x 3 identity matrix

In [51]:
N = 3  
def transposeMatrix(A,B): 
  
    for i in range(N): 
        for j in range(N): 
            B[i][j] = A[j][i] 
A = [ [1, 1, 1], 
    [2, 2, 2], 
    [3, 3, 3]] 
B = A[:][:]
transposeMatrix(A, B) 
print("Transposed Matrix is") 
for i in range(N): 
    for j in range(N): 
        print(B[i][j], " ", end='') 
    print()

Transposed Matrix is
1  2  3
2  2  3
3  3  3

Name : Pranay Bachu, Student ID:002570738,
. Using Pandas and Numpy, write a piece of code to combine two series into one. Test
your code with:
np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))

In [62]:
import pandas as pd
import numpy as np
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))
print("Data Series:")
df = pd.concat([series1, series2], axis=1)
print("New DataFrame combining two series:")
print(df)

Data Series:
New DataFrame combining two series:
      0   1
0   0.0   0
1   1.0   1
2   2.0   2
3   3.0   3
4   4.0   4
5   5.0   5
6   6.0   6
7   7.0   7
8   8.0   8
9   9.0   9
10  NaN  10
11  NaN  11
12  NaN  12
13  NaN  13
14  NaN  14
15  NaN  15
16  NaN  16
17  NaN  17
18  NaN  18
19  NaN  19
20  NaN  20
21  NaN  21
22  NaN  22
23  NaN  23
24  NaN  24
25  NaN  25

Name : Pranay Bachu , Student ID :002570738

Using pandas, write a piece of code to convert the first character of each element in a
series to uppercase. Test your code with:
series = pd.Series(['nlp', 'will', 'be', 'easy?'])

In [59]:
import pandas as pd
series = pd.Series(['nlp', 'will', 'be', 'easy?'])
print("New Series:") 
series 
newSeries = series.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper()) 
print("\ Series :") 
newSeries

New Series:
\ Series :

0      NlP
1     WilL
2       BE
3    Easy?
dtype: object